//colors
$DarkBlue: hsl(209, 23%, 22%); //dark mode elements
$VeryDarkBlue: hsl(207, 26%, 17%); //dark mode background
$VeryDarkBlue1: hsl(200, 15%, 8%); //light mode text
$DarkGray: hsl(0, 0%, 45%); //light mode input
$VeryLightGray: hsl(0, 0%, 98%); //light mode background
$White: hsl(0, 0%, 100%); //dark mode text & light mode elements